<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RHPP_Management.Properties.Settings.HospitalManagementConnectionString"
            connectionString="Data Source=.;Initial Catalog=HospitalManagement;User ID=vannyou;Password=computer"
            providerName="System.Data.SqlClient" />
        <add name="RHPP_Management.Properties.Settings.HospitalManagementConnectionString1"
            connectionString="Data Source=.;Initial Catalog=HospitalManagement;User ID=admin;Password=admin"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>